@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes run {
    0% {
        transform: translateX(0) scaleX(1);
    }
    25% {
        transform: translateX(5px) scaleX(1.1);
    }
    50% {
        transform: translateX(0) scaleX(1);
    }
    75% {
        transform: translateX(-5px) scaleX(0.9);
    }
    100% {
        transform: translateX(0) scaleX(1);
    }
}

.animate-run {
    animation: run 0.75s infinite;
}