@tailwind base;
@tailwind components;
@tailwind utilities;

/* In src/index.css */
@keyframes run {
    0% {
        transform: translateX(0) scaleX(1);
    }
    50% {
        transform: translateX(10px) scaleX(1.1);
    }
    100% {
        transform: translateX(0) scaleX(1);
    }
}

.animate-run {
    animation: run 0.8s infinite;
    transform-origin: center;
    fill: currentColor;
    opacity: 0.9;
}